* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, rgb(100, 0, 50), black);
}

menu {
  position: fixed;
  top: 1.5rem;
  padding: 0 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 920px) {
  menu {
    right: 1.5rem;
    left: auto;
    width: auto;
  }
}

@media screen and (max-width: 919px) {
  menu {
    left: 1.5rem;
    width: calc(100% - 3rem);
  }
}

menu h1 {
  width: 1%;
  height: 1.6rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  overflow: hidden;
  color: rgb(37, 28, 12);
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.2rem;
  white-space: nowrap;
  background-image: linear-gradient(
    85deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 1%,
    hsl(315deg 100% 27%) 6%,
    hsl(329deg 100% 36%) 14%,
    hsl(337deg 100% 43%) 26%,
    hsl(357deg 91% 59%) 40%,
    hsl(17deg 100% 59%) 55%,
    hsl(34deg 100% 53%) 71%,
    hsl(45deg 100% 50%) 87%,
    hsl(55deg 100% 50%) 100%
  );
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: width 2.3s ease-in;
}

menu nav {
  height: 0px;
  overflow: hidden;
  color: hsl(289deg 100% 21%);
  transition: 2s height 2.3s ease-out, 2.6s color 2.8s ease-out;
}

menu button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: inherit;
  font-weight: bold;
  text-shadow: 1px 1px hsla(45, 100%, 50%, 0.2);
  background-color: transparent;
  border: 2px solid hsl(315deg 100% 27%);
  border-radius: 3px;
  box-shadow: -1px 1px 0.5rem hsla(45deg, 100%, 50%, 0.2);
  transition: color 0.1s ease-in;
}

menu button:hover {
  border-color: hsl(337deg 100% 43%);
}

menu button:focus {
  color: hsl(337deg 100% 43%);
  outline: 2px solid hsl(240deg 100% 20%);
}

menu button:active {
  color: hsl(337deg 100% 43%);
  box-shadow: none;
  border-color: hsl(289deg 100% 21%);
}

menu button + button {
  margin-left: 1rem;
}

.canvas {
  display: block;
}
