:root {
  --app-color: #cccccc;
  --app-background-color: #000000;
  --menu-background-color: hsl(40deg, 8%, 26%, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  color: var(--app-color);
  font: 16px/1 sans-serif;
  background-color: var(--app-background-color);
}

.app {
  width: 100%;
}
